<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  <add key="LoginServers" value="D:\VSProjects\SmtpWindowsService\TestSMTPConsole\Documents/SmtpServers.txt"/>
    <add key="EmailList" value="D:\VSProjects\SmtpWindowsService\TestSMTPConsole\Documents/Emails.txt"/>
    <add key="MessageBody" value="D:\VSProjects\SmtpWindowsService\TestSMTPConsole\Documents\Message.txt"/>
    <add key="NotSent" value="D:\VSProjects\SmtpWindowsService\TestSMTPConsole\Documents\NotSent.txt"/>
    <add key="NotSending" value="D:\VSProjects\SmtpWindowsService\TestSMTPConsole\Documents\NotSending.txt"/>
    
    
  <add key="HTML Message" value="true"/>
  <add key="SenderAddress" value="hp530@live.com"/>
  <add key="Subject" value="testetst"/>
  <add key="TestSubject" value="true"/>

<add key="SenderAddress" value="hp530@live.com"/>
    </appSettings>
</configuration>