<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Files and Directories-->
    <add key="TempCpuInfo" value="D:\VSProjects\SmtpWindowsService\TestSSHConsole\Documents/TempCpuInfo.txt"/>
    <add key="Servers" value="D:\VSProjects\SmtpWindowsService\TestSSHConsole\Documents/servers.txt"/>
    <add key="PHPServers" value="D:\VSProjects\SmtpWindowsService\TestSSHConsole\Documents/PHPServers.txt"/>
    <add key="cpuinfo" value="D:\VSProjects\SmtpWindowsService\TestSSHConsole\Documents/cpuinfo.txt"/>
  </appSettings>
</configuration>